:root {
  /* COLORS */
  --color-primary-1: hsl(322, 100%, 66%);
  --color-primary-2: hsl(321, 100%, 78%);
  --color-primary-3: hsl(0, 100%, 63%);

  --color-neutral-1: hsl(192, 100%, 9%);
  --color-neutral-2: hsl(207, 100%, 98%);

  /* TYPOGRAPHY */
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  transition: all 0.3s;
}
