.nav-container {
  padding: 5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  width: 40%;
}

.section-hero {
  padding: 15rem;
  text-align: center;
  color: var(--color-neutral-1);
  transition: all 0.3s;
  animation: moveInBottom 0.8s;
}

.heading-main {
  font-size: 4rem;
  font-family: var(--font-secondary);
  font-weight: 700;
}

.text-description {
  font-weight: 700;
}

.hero-image {
  height: 100%;
  width: 100%;
  display: block;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.hero-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stats-heading {
  font-size: 6rem;
}

.text-stats {
  opacity: 0.5;
}

.messages {
  align-self: center;
}

.section-features {
  padding: 10rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
  padding: 13rem 5rem;
}

.first-feature {
  background-image: url(../images/bg-section-top-desktop-1.svg);
  /* background-image: url(../images/bg-section-top-desktop-2.svg); */
  background-repeat: no-repeat;
  background-position: top;
}

.third-feature {
  background-image: url(../images/bg-section-bottom-desktop-1.svg),
    url(..//images/bg-section-bottom-desktop-2.svg);
  background-repeat: no-repeat;
  background-position: top bottom;
}

.feature-image {
  height: 90%;
  width: 90%;
  display: block;
  object-fit: cover;
}

.section-cta {
  text-align: center;
}
